#node_modules
client/node_modules
server/node_modules

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*

# Build
client/build
client/dist

# OS files
.DS_Store

# IDE
.vscode

# documentation file
*.docx
*.doc
